@page
@model RazorPagesCG.Pages.Characters.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Character.Name" class="control-label"></label>
                <input asp-for="Character.Name" class="form-control" />
                <span asp-validation-for="Character.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.CreatedDate" class="control-label"></label>
                <input asp-for="Character.CreatedDate" class="form-control" />
                <span asp-validation-for="Character.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Profession" class="control-label"></label>
                <input asp-for="Character.Profession" class="form-control" />
                <span asp-validation-for="Character.Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Level" class="control-label"></label>
                <input asp-for="Character.Level" class="form-control" />
                <span asp-validation-for="Character.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.TimesPlayed" class="control-label"></label>
                <input asp-for="Character.TimesPlayed" class="form-control" />
                <span asp-validation-for="Character.TimesPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
